{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% set count = article.comments|length %}

{% block body %}
    <section class="container">
        <h1>{{ article.title }}</h1>

        <hr>

        <article class="mb-5">
            <div class="row">
                {% if article.image %}
                    <div class="col-md-5">
                        <img src="/uploads/{{ article.image.filename }}" alt="{{ article.image.alt ?? article.title }}" loading="lazy" width="350" height="205">
                    </div>
                {% endif %}

                <div class="col-md-7">
                    <p>{{ article.createdAt|date('d M Y') }}</p>
                    <p>{{ article.content|raw }}</p>
                </div>
            </div>
        </article>

        <h2 class="mt-5">Commentaires (<span class="comment-count">{{ count }}</span>)</h2>
        <hr>

        {% if app.user %}
            <div class="mb-5">
                {{  form(commentForm) }}
            </div>
        {% else %}
            <p><a href="{{ path('login') }}">Connectez-vous</a> pour ajouter un commentaire.</p>
        {% endif %}

        <div id="comments">
            {% for comment in article.comments|reverse %}
                {% include 'comment/_item.html.twig' with { comment } %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
