{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <section class="container">
        <h1>{{ article.title }}</h1>

        <hr>

        <article class="mb-5">
            <div class="row">
                {% if article.image %}
                    <div class="col-md-5">
                        <img src="/uploads/{{ article.image.filename }}" alt="{{ article.image.alt ?? article.title }}" loading="lazy" width="350" height="205">
                    </div>
                {% endif %}

                <div class="col-md-7">
                    <p>{{ article.createdAt|date('d M Y') }}</p>
                    <p>{{ article.content|raw }}</p>
                </div>
            </div>
        </article>
    </section>
{% endblock %}
